    h1 {
        margin: 50px auto 0px auto;
        font-family: 'Sacramento', cursive;
        color: aliceblue;
        font-size: 100px;
        font-weight: normal;
    }
    
    h2 {
        color: #3DB2FF;
    }
    
    h3,
    a {
        color: #008eec;
    }
    
    .sP {
        color: aliceblue;
        font: 3em sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
    }
    
    body {
        text-align: center;
        margin: 0px;
        font-family: 'Merriweather Sans', sans-serif;
    }
    
    .start {
        background-color: #3DB2FF;
        padding: 20px;
        padding-top: 100px;
        padding-bottom: 0px;
        position: relative;
        line-height: 2;
    }
    
    .top-cloud {
        position: absolute;
        right: 300px;
        top: 50px;
    }
    
    .bottom-cloud {
        position: absolute;
        left: 300px;
        bottom: 300px;
    }
    
    .skill-row {
        margin: 100px auto 100px auto;
        width: 50%;
        line-height: 2;
        text-align: left;
    }
    
    .computer {
        width: 25%;
        float: left;
        margin-right: 30px;
    }
    
    .chillies {
        width: 25%;
        float: right;
        margin-left: 30px;
    }
    
    .profile p {
        color: #40514E;
    }
    
    hr {
        border: 10px dotted #EAF6F6;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 10%;
    }
    
    ul {
        padding-left: 226px;
    }
    
    .BUTTON {
        height: 3rem;
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 24px;
        margin-top: 24px;
        background-color: #3DB2FF;
        color: #EAF6F6;
        border: none;
    }
    
    .BUTTON:hover {
        background-color: #26a1f3;
    }
    
    .btn {
        color: #EAF6F6;
        font-family: sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    .bottom-container {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #3DB2FF;
    }
    
    .bottom-container>a>img {
        padding: 10px 50px 10px 50px;
        height: 50px;
        width: 50px;
    }
    
    .bottom-container>p {
        margin-top: 0px;
    }
    
    .copy-right {
        color: #EAF6F6;
    }
